{% include "header.html" %}
{% if data['reverse'] %}
  <h1>Node {{ data['reverse'] }}</h1>
{% else %}
  <h1>Node {{ mac }}</h1>
{% endif %}
<br/>

{% if method == "GET" %}
  {% if data %}
    <form action="" method="POST">
      <dl class="dl-horizontal">
        <dt>Node group</dt>
        <dd>
          {% if data['group'] %}
            <a href="/group/{{ data['group'] }}">{{ data['group'] }}</a>
          {% else %}
            <span class="label label-warning">Unable to lookup</span>
          {% endif %}
        </dd>
        <dt>DNS PTR</dt>
        <dd>
          {% if data['reverse'] %}
            {{ data['reverse'] }}
          {% else %}
            <span class="label label-warning">Unable to lookup</span>
          {% endif %}
        </dd>
        <dt>MAC</dt>
        <dd>{{ mac }}</dd>
  
        <br/>
  
        <dt>Current image<dt>
        <dd>
          {% if data['image'] %}
            {{ data['image'] }}
          {% else %}
            <span class="label label-warning">Not configured</span>
          {% endif %}
        </dd>
  
        <br/>
  
        <dt>Change image</dt>
        <dd>
          <div class="controls">
            <select name="image">
              {% if images %}
                {% for image in images | sort %}
                  {% if image == data['image'] %}
                    <option selected="selected">{{ image }}</option>
                  {% else %}
                    <option>{{ image }}</option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
          </div>
        </dd>
  
        <dt></dt>
        <dd><input type="submit" value="Save!"/> or go <a href="/node/{{ mac }}">back</a></dd>
  
      </dl>
    </form>
  
  {% else %}
    <div class="alert">
      <i class="icon-warning-sign"></i> No node matched this MAC address!
    </div>
  {% endif %}
{% else %}
  {% if success %}
    <div class="alert alert-success">
      <i class="icon-ok"></i> MAC {{ mac }}  associated to image {{ data['image'] }}!
    </div>
  {% else %}
    <div class="alert alert-error">
      <i class="icon-warning-sign"></i> Unable to associate MAC {{ mac }} to image {{ data['image'] }}!
    </div>
  {% endif %}
  Go back to the <a href="/node/{{ mac }}">node</a> or to the <a href="/group/{{ data['group'] }}">group {{ data['group'] }}</a>
{% endif %}
{% include "footer.html" %}
